@*@{
    Layout = "~/Views/Careers/View.cshtml";
}*@


@model DynamicPage.ViewModel.CareersData
@{
    ViewBag.Title = "Careers";
}

<!DOCTYPE html>
<html>
<head lang="en">
    <!--<base href="//promact.blob.core.windows.net" target="_blank">-->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Career</title>
    <link rel="shortcut icon" href="//promact.blob.core.windows.net/images/favicon.ico">
    <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//promact.blob.core.windows.net/style/Style.css" type="text/css" media="all" />
</head>

<body id="career-page" class="overflow-hide">
    <!--Preloader-->
    <div id="mask">
        <div id="loader"></div>
    </div>
    <div class="plain-version clearfix career-home" id="career-home">
        <div class="text-heading">
            <a href="/" target="_self"><img src="//promact.blob.core.windows.net/images/logo.png" class="logo-career"></a>
            <br><br><br>
            <p class="animated fadeInDown text text-content" data-animation="fadeInDown" data-delay="500">
                We are<br>
                <div class="animate-div-text">
                    <h1 class="highlight">GEEKS</h1>
                    <h1 class="highlight">CREATIVES</h1>
                    <h1 class="highlight">SUPERHEROES</h1>
                    <h1 class="highlight">AMBITIOUS</h1>
                    <h1 class="highlight">ACHIEVERS</h1>
                </div>

            <p class="text-bolder text"> are you too?</p>
            </p>
        </div>
        <div class="home-bottom-text">
            <a class="scroll-down icon icon-arrows-06" href="#team-players"></a>
        </div>
    </div>
    <div id="team-players" class="section dark">
        <h2 class="title-text">TEAM PLAYERS <span class="highlight">&commat; PROMACT</span></h2>

        <div class="sub-heading">
            We are a team of awesome 40+ people based in vadodare, India.We are growing fast.We'd love your contribution in making Promact truly special.
        </div>
        <br>

        <ul class="section-content ul-team-leaders">
            @foreach (var item in Model.TeamPlayers)
            {
                <li class="member animated hiding" data-animation="fadeInDown">
                    <div class="thumb-wrapper">
                        <img src="@Html.DisplayFor(modelItem => item.Image)" class="img-responsive img-circle" alt="thumb" />
                    </div>
                    <span class="h7 highlight">@Html.DisplayFor(modelItem => item.Name)</span>

                    <p class="thin">@Html.DisplayFor(modelItem => item.Designation)</p>
                </li>
            }

        </ul>


    </div>
    <div class="section amazing-section">
        <h2 class="title-text">AMAZING THINGS HAPPEN HERE EVERYDAY!</h2>

        <div class="sub-heading">
            Be it work, learning or fun, you will never get bored.
        </div>
    </div>
    <div id="learn" class="section dark">
        <div class="container animated hiding" data-animation="fadeInDown">
            <h2 class="title-text">LEARNING <span class="highlight">&commat; PROMACT </span> </h2>

            <div class="sub-heading">
                We are a team of awesome 40+ people based in Vadodara, India. We are s growing fast. We'd
                love your contribution in making Promact truly special.
            </div>
            <br>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">
                    <i class="icon icon-education-science-01 icon-active"></i>
                    <span class="h7">20 MINS OF EXCELLENCE</span>
                    <p class="thin">
                        Lorem Ipsum Lorem
                        Ipsum Lorem Ipsum
                        Lorem Ipsum Lorem
                        Ipsum Lorem Ipsum
                        Lorem Ipsum Lorem
                        Ipsum
                    </p>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">
                    <i class="icon icon-education-science-10 icon-active"></i>
                    <span class="h7">LEARNING SATURDAY</span>

                    <p class="thin">
                        Lorem Ipsum Lorem
                        Ipsum Lorem Ipsum
                        Lorem Ipsum Lorem
                        Ipsum Lorem Ipsum
                        Lorem Ipsum Lorem
                        Ipsum
                    </p>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">
                    <i class="icon icon-seo-icons-42 icon-active"></i>
                    <span class="h7">HACKATHONS</span>

                    <p class="thin">
                        Lorem Ipsum Lorem
                        Ipsum Lorem Ipsum
                        Lorem Ipsum Lorem
                        Ipsum Lorem Ipsum
                        Lorem Ipsum Lorem
                        Ipsum
                    </p>
                </article>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">
                    <i class="icon icon-education-science-09 icon-active"></i>
                    <span class="h7">OUT OF THE BOX CHALLENGES</span>

                    <p class="thin">
                        Lorem Ipsum Lorem
                        Ipsum Lorem Ipsum
                        Lorem Ipsum Lorem
                        Ipsum Lorem Ipsum
                        Lorem Ipsum Lorem
                        Ipsum
                    </p>
                </article>
            </div>

        </div>
    </div>
    <div id="fun" class="section dark">
        <div class="container animated hiding" data-animation="fadeInDown">
            <h2 class="title-text">FUN <span class="highlight">&commat; PROMACT </span></h2>

            <div class="sub-heading">
                Apart from work, we know how to enjoy life.
                Every year we have a tradition of Sports and Olympics, Picnics, Festival Celebrations, Yoga and
                many more activities.
            </div>
            <br>
            <div>
                <ul class="bxslider">
                    @foreach (var items in Model.SliderImages)
                    {
                        <li>
                            <img src="@Html.DisplayFor(modelItem => items.Picture)" />
                        </li>
                    }

                </ul>
            </div>
        </div>
        <div class="quotes" id="quote-section">
            <div class="container">
                <blockquote>
                    The only way to do great work is to love
                    what you do. - Steve Jobs
                </blockquote>
            </div>
        </div>
    </div>
    <div class="section dark" id="join-us">
        <div class="container">
            <h2 class="title-text">INTERESTED? <span class="highlight">JOIN US </span></h2>
            <div class="section-content row">

@foreach (var item in Model.Positions)
            {

                <div class="col-sm-4 join-us-div">
                    <div class="package-column animated hiding" data-animation="flipInY">
                        <a href="@Html.DisplayFor(modelItem => item.Link)" target=" _self">

                            <div class="package-title">
                                @Html.DisplayFor(modelItem => item.Post)
                            </div>
                            <div class="package-detail">
                                <p class="thin">
                             @Html.DisplayFor(modelItem => item.Description)
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
    
                
}
            </div>
        </div>
    </div>
    <div id="footer" data-anchor="footer" class="footer light">
        <div class="container">
            <div class="footer-content row">
                <div class="col-sm-4">
                    <div class="logo-wrapper">
                        <img src="//promact.blob.core.windows.net/images/logo.png" alt="logo" width="100%" />
                    </div>
                    <p>
                        Promact is an excellence driven company with a passion for technology where people love what they
                        do. We focus on delivering values, creating impact & producing exciting experiences.
                    </p>

                    <p>
                        A blend of a good idea, creativity, simplicity, robust technical implementation and an
                        exceptional team is nothing less than an innovation. We pride ourselves for that.
                    </p>

                    <p><strong>Swaty Shah, CEO</strong>.</p>
                </div>
                <div class="col-sm-5 social-wrap">
                    <div class="footer-title">Social Networks</div>
                    <ul class="list-inline socials">
                        <li>
                            <a href="//facebook.com/promact" target="_blank">
                                <span class="icon icon-socialmedia-08"></span>
                            </a>
                        </li>
                        <li>
                            <a href=" //twitter.com/PromactInfo" target="_blank">
                                <span class="icon icon-socialmedia-07"></span>
                            </a>
                        </li>
                        <li>
                            <a href="//www.linkedin.com/company/2195951" target="_blank">
                                <span class="icon icon-socialmedia-05"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="footer-title">Contact us</div>
                    <ul class="list-unstyled">
                        <li>
                            <span class="icon icon-chat-messages-14"></span>
                            <a href="mailto:info@promactinfo.com">info@promactinfo.com</a>
                        </li>
                        <li>
                            <span class="icon icon-seo-icons-34"></span>
                            B-301, Monalisa Business Center, Near More Mega Store, Manjalpur, Vadodara, Gujarat, India -
                            390011

                        </li>
                        <li>
                            <span class="icon icon-seo-icons-17"></span>
                            +91 - 992-503-6216
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">Copyright ©2015 Promact Infotech Pvt. Ltd. All Rights Reserved.</div>
    </div>
    <div class="back-to-top"><i class="icon icon-arrows-05"></i></div>
    <script type="text/javascript" src="//promact.blob.core.windows.net/javascript/jquery.js"></script>
</body>
</html>
